
.home-bg {
  background: url("/images/stars.jpg");
  height: 100vh;
}

.devX {
  text-align: center;
  color: #eaeff7;
}

#welcome {
  color: #eaeff7;
  text-align: center;
}

.signin {
  text-align: center;
  border: 5px solid #1f3e5a;
  border-radius: 50px;
  background-color: #281c3c;
  display: inline-block;
  height: 300px;
  width: 330px;
  padding: 50px;
  margin-top: 80px;
  color: #ffffff;
}

#background {
  background-image: url('/images/purpleSpace.jpg');
  position: fixed;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#signUpForm {
  display: flex;
  justify-content: center;
}
.signup {
  text-align: center;
  border: 5px solid #c5ead8;
  border-radius: 50px;
  background-color: #c5ead8;
  display: inline-block;

  padding: 50px;
}

.responses {
  font-size: 15px;
  padding: 15px;
  background-color: #eaeff7;
  margin: 0 auto;
  color: #000000;
  opacity: 1;
  float: right;
  border-radius: 5px;
  max-height: 700px;
  overflow-y: scroll;
}

.responses .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.responses .header {
  border-bottom: 1px solid black;
}

.responses .number {
  display: inline-block;
  width: 50px;
}

.responses .answer {
  display: inline-block;
  width: 200px;
}

.responses .points {
  display: inline-block;
  width: 50px;
  text-align: right;
}

.scoreboard {
  font-size: 15px;
  padding: 15px;
  background-color: #eaeff7;
  margin: 0 auto;
  color: #000000;
  opacity: 1;
  float: left;
  border-radius: 5px;
  max-height: 700px;
  overflow-y: scroll;
}

.scoreboard .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.scoreboard .header {
  border-bottom: 1px solid black;
}

.scoreboard .playerElement {
  color: #333333;
}

.scoreboard .playerElement.active {
  color: black;
  font-weight: bold;
}

.scoreboard .playerRank {
  display: inline-block;
  width: 50px;
}

.scoreboard .playerUserName {
  display: inline-block;
  width: 150px;
}

.scoreboard .playerScore {
  display: inline-block;
  width: 50px;
  text-align: right;;
}


.content {
  text-align: center;
  width: 850px;
  padding: 15px;
  background-color: #eaeff7;
  margin: 0 auto;
  margin: 0 auto;
  color: #000000;
  opacity: 1;
  border-radius: 5px;
}


.category {
  font-size: 30px;
}

.question {
  font-size: 30px;
  border-radius: 15px;
  text-align: center;
}

.score {
  font-size: 15px;
  width: 850px;
  padding: 15px;
  background-color: #eaeff7;
  margin: 0 auto;
  color: #000000;
  opacity: 1;
}

.primary {
  margin: 0 auto;
}

.trans {
  background-color: white;
  color: #000000;
  opacity: 1.6;
}

.container {
  display: flex;
  justify-content: center;
}

.currentQuestion.category {
  font-size: 499px;
}

.logInbtn {
  background-color: #ffffff;
  border: 2px solid #000000;
}

.logInbtn:hover {
  background-color: #1f3e5a;
  border-color: #1f3e5a;
  color: #fff;
  transition-duration: 1s;
}

.masterForm {
  display: flex;
  align-content: center;
}

#form-bg {
    background: url("/images/stars.jpg");
    background-attachment: fixed;
    height: 135vh;
    width: 100vw;
}

.welcome {
  color: #eaeff7;
}

.forms {
  justify-content: center;
  text-align: center;
  border: 5px solid #1f3e5a;
  border-radius: 50px;
  background-color: #281c3c;
  height: 645px;
  width: 330px;
  padding: 55px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 100px;
}

.forms h3 {
  padding-bottom: 10px;
  text-align: center;
}

#submit {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 230px;
}
#submit:hover {
  background-color: #1f3e5a;
  border-color: #1f3e5a;
  color: #fff;
  transition-duration: 1s;
}

.answer-container {
  min-width: 400px;
  max-width: 850px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.answer-button {
  margin: 20px;
  min-width: 370px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  opacity: 1;
  color: black;
}

.answer-button:hover {
  background-color: #969ba0;
  color: #fff;
  opacity: 1;
}
.welcome {
  color: #eaeff7;
  text-align: center;
}

#alert-check-again {
  margin: 0 auto;
}

.gameContainer {
  padding: 40px;
}

.gameUrl {
  font-size: larger;
  font-weight: bold;
  padding: 10px;

}